<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <%- messages('messages', locals) %>
            <!-- BREADCRUMB -->
            <nav class="small" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">home</a></li>
                    <li class="breadcrumb-item"><a href="/meals/category/<%= meal.mealCategory %>?page=1&limit=5">
                            <%= meal.mealCategory %>
                        </a></li>
                    <li class="breadcrumb-item"><a href="/meals/meal/<%= meal.id %>">
                            <%= meal.mealName %>
                        </a></li>
                    <li class="breadcrumb-item active" aria-current="page">edit meal </li>
                </ol>
            </nav>

            <!-- MESSAGE -->
            <%- messages('messages', locals) %>

                <!-- EDIT MEAL FORM -->
                <section
                    class="section-template section-template__fullHeightSection section-editmeal section-editmeal-hiddenform">
                    <h2 class="mb-4">Edit <%= meal.mealName %>
                    </h2>
                    <!-- add current meal image here -->
                    <div class="mb-4 text-center sectionDivTemplate-singleImageDiv">
                        <img src="<%=`${meal.imageLocation}`%> "
                            class="sectionDivTemplate-singleImage rounded img-fluid"
                            alt="image of the meal <%= meal.mealName %>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image_uploads">Change meal image</label>
                        <input type="file" class="form-control" id="image_uploads" name="image_uploads"
                            accept="image/*">
                    </div>
                    <form action="/meals/edit/<%= meal.id %>" method="POST" id="uploadMulterForm"
                        class="needs-validation newMealForm">
                        <div class="mb-3 div-mealName">
                            <label for="mealName" class="form-label">Edit Meal Name</label>
                            <input type="text" class="form-control" id="mealName" name="mealName"
                                aria-describedby="inputMealName" value="<%= meal.mealName %>" required>
                        </div>
                        <div class="mb-3 divMealDescription">
                            <label for="mealDesription" class="form-label">Edit Description</label>
                            <textarea id="mealDescription" class="form-control" aria-label="meal description field"
                                name="mealDescription"></textarea>
                        </div>
                        <label for="mealCategory" class="form-label">Change Meal Category</label>
                        </div>
                        <div class="form-check radioSelectsMealCategory">
                            <input class="form-check-input" type="radio" name="mealCategory" id="mealCategoryMains"
                                value="mains">
                            <label class="form-check-label" for="mealCategoryMains">
                                Mains
                            </label>
                        </div>
                        <div class="form-check radioSelectsMealCategory">
                            <input class="form-check-input" type="radio" name="mealCategory" id="mealCategoryBreakfast"
                                value="breakfast">
                            <label class="form-check-label" for="mealCategoryBreakfast">
                                Breakfast
                            </label>
                        </div>
                        <div class="form-check radioSelectsMealCategory mb-4">
                            <input class="form-check-input" type="radio" name="mealCategory" id="mealCategorySnacks"
                                value="snacks">
                            <label class="form-check-label" for="mealCategorySnacks">
                                Snacks
                            </label>
                        </div>
                        <div class="mb-4 text-center section-template__fullHeightSection__oneButton">
                            <input class="btn btn-primary btn-lg px-4 me-md-2" id="submitNewMeal" type="submit"
                                value="Submit" />
                            <a href="/meals/edit/<%= meal.id %>" class="btn btn-light btn-lg px-4 me-md-2">Reset Form
                            </a>
                        </div>
                        <!-- results from imagekit upload to transit to db -->
                        <div class="hiddenInputs">
                            <input type="hidden" class="hiddenMealDescription" id="hiddenMealDescription"
                                name="hiddenMealDescription" value="<%= meal.mealDescription %>">
                            <input type="hidden" class="hiddenMealCategorySnacks" id="hiddenMealCategorySnacks"
                                name="hiddenMealCategorySnacks" value="<%= meal.mealCategory %> ">
                            <input type="hidden" name="imageName" class="imageName" id="imageName">
                            <input type="hidden" name="imageLocation" class="imageLocation" id="imageLocation">
                            <input type="hidden" name="imageThumbnail" class="imageThumbnail" id="imageThumbnail">
                            <input type="hidden" name="imagekitImageId" class="imagekitImageId" id="imagekitImageId">
                        </div>
                    </form>
                </section>

                <!-- FOOTER -->
                <%- include('partials/footer') %>

                    <!-- SCRIPTS -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                    <script type="text/javascript"
                        src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
                    <script src="/scripts/imageUploadImagekit.js"></script>
                    <script src="/scripts/editMealScript.js"></script>
                    <script>
                        console.log("Hello, edit meal page");
                    </script>

</body>

</html>