<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>

<!-- BREADCRUMB -->
<nav class="small" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">home</a></li>
      <li class="breadcrumb-item"><a href="/meals/category/<%= meal.mealCategory %>"><%= meal.mealCategory %> </a></li>
      <li class="breadcrumb-item active" aria-current="page">meal details</li>
    </ol>
  </nav>

        <!-- HERO -->
        <section class="section-template section-template__fullHeightSection text-center">
            <div class="mb-4 text-center sectionDivTemplate-singleImageDiv">
                <img src="<%= `${meal.imageLocation}` %> "
                        class="sectionDivTemplate-singleImage rounded img-fluid" alt="...">
            </div>

            <div class="mb-4">
                <h4><%= meal.mealName %> </h4>
                <p> <%= meal.mealDescription %>  </p>
                <p class="small text-muted"> <%= meal.mealCategory %>  </p>
            </div>
            <div class="mb-4 text-center section-template__fullHeightSection__oneButton">
                <a href="/meals/edit/<%= meal.id %> " class="btn btn-primary btn-sm px-4 me-md-2">Edit Meal</button></a>
                <a href="#" class="btn btn-outline-danger btn-sm px-4 me-md-2">Delete Meal</button></a>
            </div>
        </section>

        <!-- FOOTER -->
        <%- include('partials/footer') %>

            <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>


</body>

</html>